services:
  database:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_UNSAFE_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_UNSAFE_PASSWORD}
      POSTGRES_DB: prdb
    volumes:
      - ./init:/docker-entrypoint-initdb.d/init.sql:ro
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_UNSAFE_USERNAME} -d prdb"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 60s
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      database:
        condition: service_healthy
    environment:
      POSTGRES_HOST: database
      POSTGRES_UNSAFE_USERNAME: ${POSTGRES_UNSAFE_USERNAME}
      POSTGRES_UNSAFE_PASSWORD: ${POSTGRES_UNSAFE_PASSWORD}
      POSTGRES_PORT: 5432
      POSTGRES_DB: prdb
      POSTGRES_SSLMODE: disable
    ports:
      - "8080:8080"

volumes:
  db_data: